
/* Reset Styles 
 ------------------------------------------------------------ */

body, html, img, form, fieldset, input, textarea, p, h1, h2, h3, h4, h5, h6, ol, ul, li, div {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 100%;
  outline: none;
  border: none;
}
* { text-rendering: optimizeLegibility; }
header, section, article, footer, aside, nav { display: block; }

/* Base Styles 
 ------------------------------------------------------------ */

body {
  font-family: "Lucida Granda", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;  
  color: #333333;
  background: #ffffff;         
  border-top: 18px solid #def;
}
h1, h2, h3, h4 {
  font-family: Futura,"Helvetica Neue",Helvetica, Arial, sans-serif;
  margin: 18px 0px;    
  color: #000000;
}
h1 { font-size: 108px; line-height: 108px; }
h2, h3 { font-size: 24px; line-height: 36px; }
h4 { font-size: 18px; }
p {
  margin-bottom: 10px;
}
a {
  color: #003366;
  text-decoration: none;
  border-bottom: 1px dotted #99ccee;
}
a:hover { background-color: #ddeeff; }       

/* Layout 
 ------------------------------------------------------------ */

#wrapper {
  margin: 0 auto;
  padding: 36px;
  width: 400px;
}               
nav, footer { margin: 1em 0; }
footer {
  clear: both;
  padding-top: 2em;
}     

/* Header 
 ------------------------------------------------------------ */

header {
  padding: 0px;   
  margin: 18px 0px;
}
header h1 {
  font-family: "league-gothic-1","league-gothic-2",Helvetica;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: -2px;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
}
header h1 a {
  text-decoration: none;
  border: none;
  color: #333333;
  background-color: #ffffff;
}
header p.tagline {      
  font-family: Futura, "museo-slab-1","museo-slab-2";
  font-size: 18px;        
  text-transform: uppercase;
  line-height: 36px;
  color: #aaaaaa;        
  margin-bottom: 0px;
}      

.dtime {
  margin: 1em 0px;
  color: #aaa;
}

.post #about {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #999;
}

/* Posts
 ------------------------------------------------------------ */

.post img {
  max-width: 400px;
  margin: 10px 0px;
}                 

.post hr {                   
  border: none;
  border-top: 1px solid #eee;
  height: 0px;
  margin: 20px 0px;
}

/* Utility Classes
 ------------------------------------------------------------ */

.amp {
 	font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', 'Warnock Pro', serif;
 	font-style: italic;
}