<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">        
	<meta name="viewport" content="width=480">
  <meta name="description" content="CowboyNinja.com is written by Jackson Fox">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/old-skool.css" type="text/css">
	<link rel="stylesheet" href="/css/iphone.css" type="text/css">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]--> 
<body>                                                                  
  <section id="wrapper">
    <header>
      <h1 id="logo"><a href="/" rel="home">CowboyNinja.com</a> is written by Jackson Fox</h1> 
    </header>
    <section id="about">
      <p>Jackson Fox is an <a rel="employer" href="http://morebetterlabs.com">Interaction Designer</a> and <a rel="me" href="http://jacksonfox.org">web nerd</a>. He likes to <a rel="me" href="http://hamsterbot.com">share interesting things</a>, <a href="http://welovecotton.com">blog about t-shirts</a>, and <a rel="me" href="http://cowboyninja.com">make lists of things</a>.</p>
    </section>
    <section id="body">
	    {{ content }}
	  </section>
	</section>
</body>
</html>