<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">                                        
	<meta name="viewport" content="width=480">                                                
	<meta name="description" content="{{ page.summary }}">
	<title>{{ page.title }} by Jackson Fox</title>
	<link rel="stylesheet/less" href="/css/style.less" type="text/css">
	<link rel="stylesheet" href="/css/iphone.css" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Permanent+Marker" type="text/css">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]--> 
<body class="post">                                                                  
  <section id="wrapper">
    <header>
      <nav><a href="/">Cowboy Ninja</a></nav>
      <h1 id="title">{{ page.title }}</h1> 
      <p>by Jackson Fox</p>
    </header>    
    <section id="body">
	    {{ content }}     
	    <div class="dtime">{{ page.date | date: "%Y %h %d" }}</div>
	  </section>
    <section id="about">
      <p><a rel="me" href="http://jacksonfox.org">Jackson Fox</a> is an <a rel="employer" href="http://morebetterlabs.com">Interaction Designer</a> and <a rel="me" href="http://hamsterbot.com">web nerd</a>. He likes <a rel="me" href="http://gimmebar.com/loves/jacksonfox">pretty pictures</a>, <a rel="me" href="http://welovecotton.com">t-shirts</a>, <a rel="me" href="http://foodfromtrucks.com">food trucks</a>, and <a rel="me" href="http://thestovetop.tumblr.com">cooking</a>. He occasionally writes about <a rel="me" href="http://zeppox.net">design</a> and <a rel="me" href="http://cowboyninja.com">other stuff</a>.</p>
    </section>
	</section>
	<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-99790-12']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script src="/lib/less.js"></script>
</body>
</html>